body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    margin: 20px 0;
    text-align: center;
}

h2 {
    margin: 10px 0;
    text-align: center;
}

h3 {
    margin: 5px 0;
    text-align: center;
}

.image {
    text-align: center;
}

img {
    width: 800px;
    height: auto;
}

.item {
    display: grid;
    border: 1px solid red;
    text-align: center;
    justify-content: center;
    font-size: 1rem;
    width: 100px;
    height: 100px;
}

/*               Container 1              */
.container-1 {
    display: grid;
    border: 2px solid green;
    width: 900px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-items: center;
}

/*               Container 2              */
.container-2 {
    display: grid;
    grid-template-rows: repeat(3, 1fr); 
    border: 2px solid green; 
    width: 900px;
    height: auto;
    margin: 0 auto;
}

.row-1 {
    display: flex;
    justify-content: flex-start; 
}

.row-2 {
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse; 
}

.row-3 {
    display: flex;
    justify-content: flex-end; 
}

/*               Container 3              */
.container-3 {
    display: grid;
    grid-template-rows: 150px 150px 150px; 
    border: 2px solid green; 
    width: 900px;
    height: auto;
    margin: 0 auto;
}

.haut {
    display: flex;
    justify-content: flex-start; 
    gap: 10px;
}

.haut .item:nth-child(1),
.haut .item:nth-child(2) {
    flex: 0 0 100px; 
}

.haut .item:nth-child(3) {
    flex: 1; 
} 

.milieu {
    display: flex;
    justify-content: space-around; 
    flex-direction: row-reverse; 
}

.bas {
    display: flex;
    justify-content: flex-end; 
    gap: 10px;
}

.bas .item:nth-child(1) {
    flex: 1; 
} 

.bas .item:nth-child(2),
.bas .item:nth-child(3) {
    flex: 0 0 100px; 
}

